/* GERAL */
html {
    font-family: "Sans serif";
}
.btn {
    font-weight: bold;
}
body {
    margin: 0;
    padding: 0;
}
a {
    color: black;
}

/* TABELA PADRÃO */
.table{
    max-width: 800px;
}
.table > tbody > tr > td {
    vertical-align: middle;
}

/* HEADER SISTEMA */
.headerSistema {
    background-color: rgb(240, 240, 240);
}
.headerSistema > h1{
    color: rgb(74, 74, 74);
    font-size: 28px;
    font-weight: bold;
    margin: 30px 30px;
}

/* BLOCOS FORMATADOS */
.divCentralizada {
    max-width: 400px;
    max-height: 700px;
    border: 2px solid #aaaaaa;
    border-radius: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.linha{
    margin-top:10px;
    margin-bottom:10px;
}
.divCadastroPaciente {
    max-width: 800px;
    border: 2px solid #aaaaaa;
    border-radius: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

/* ALINHAMENTO */
.block {
    display: block;
}
.marginCentering{
    margin-left: auto;
    margin-right: auto;
}
.textAlignCentering{
    text-align: center;
}


